.App {
  text-align: center;
}

.result{
  border: 1px;
  border-radius: 3px;
  border-color: black;
  border-style: ridge;
}
.HeaderRow
{
  background-color: #944780;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
  overflow-y:auto;
  }  

#table3 table {
  border: 1px solid;border-color: #944780;
}
#table3 th2
{
  color: black;
  font-weight: 500;
  background-color: #20c0fa;
  border: 1px solid;border-color:black;
}
#table3 th
{
  color: white;
  font-weight: 500;
  background-color: #944780;
  border: 1px solid;border-color:black;
}
#table3 tr:nth-child(even) {
  background-color: #f2f2f2;
}
#table3 td{
  border-left: 1px solid;border-color:black;
}


#table1 table {
  border: 1px solid;border-color: black;
}
#table1 th
{
  color: black;
  font-weight: 500;
  background-color: 	#D8D8D8;
  border: 1px solid;border-color:black;
}
#table1 tr:nth-child(even) {
  background-color: #F8F8F8;
}
#table1 td{
  border: 1px solid;border-color:black;
}


#table2 table {
  border: 1px solid;border-color: black;
}
#table2 th
{
  color: black;
  font-weight: 500;
  background-color: 	#D8D8D8;
  border: 1px solid;border-color:black;
}

#table2 td{
  border: 1px solid;border-color:black;
}

.SearchOffSite
{
  color: black;
  background-color: rgb(243, 233, 233);
}
.SearchOvrdu
{
  background-color: rgb(247, 179, 147);
}
.SearchActive{
  color: black;
}
.SearchInactive{
  color: white;
  background-color: black;
}
.LockedSearch
{
  color: black;
  background-color: yellow;
}
.CmpltSearch{
  color: black;
  background-color: #aef3a8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dropdown-button {
  background-color: white!important;
  border-color: black;
  color: black!important;
}
br {
  line-height: 3px;
}
.dropdown-button:active {
  border-radius: 10px;
  background-color: gray !important;
  }
  .header{
    background-color:	#D8D8D8;
    stop-color : #20c0fa;
    width:100%;
    border-bottom-color: black;
    border-bottom-style:solid;
    border-bottom-width:thin;
    
  }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
